<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.tacademy.singleplay">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".detail.BookingListActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".detail.UserActivity"
            android:exported="true"
            android:launchMode="singleTop"/>
        <activity
            android:name=".detail.CouponActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".detail.ProfileActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ShowDetailActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".detail.InquiryActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".detail.EventNoticeActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pay.BookingPersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pay.BookingSeatInfoActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".pay.SelectPayActivity"
            android:launchMode="singleTop"/>
        <activity
            android:name=".PushActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".detail.CheckedBookingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity android:name=".WishListActivity"/>
        <activity android:name=".detail.EventDetailActivity"/>
        <activity
            android:name=".login.LoginActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login.SignInActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".login.InsertPersonInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchActivity"/>
        <activity android:name=".SearchResultActivity"/>
        <activity
            android:name=".login.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".wishpopup.WishPopupActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.BottomSheetDialog"/>
        <activity android:name=".detail.StarScoreActivity">
        </activity>
    </application>

</manifest>